
.jumbo{
  width: 100%;
  height: auto;
  position: relative;
}

#navbar {
  text-align:center;
  overflow: hidden;
  background-color: #333;
  z-index: 5
}

#navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

h1{
  text-align: center;
  font-family: 'Forum', cursive;
  font-weight: bold;
}

.card-title{
  padding-top: 1em;
}

.card-text{
  padding-left: 1em;
  padding-right: 1em;
}

h5{
  font-family: 'Forum', cursive;
}

body {
  font-family: 'EB Garamond', serif;
}

.content {
  padding: 5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


body, html {
background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 30%, rgba(255,255,255,1) 100%);
  line-height: 1.8;
}


.social-button {
  opacity: 50%;
  width: 3rem;
  height: auto;
}

.social-button:hover {
  opacity: 100%;
}

.social{
    float: left;
    width: 33.33%;
}

.links::after {
  content: "";
  clear: both;
  display: table;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.headshot{
  grid-column: 1;
  grid-row: 1/2;
}

.resume-text{
  padding: 2em;
}

.resume{
  margin-left: 2rem;
  grid-column: 2 / 4;
  grid-row: 1;
}

.description{
  text-align: right;
}

/* slider skills */

.sliderIcon{
  height: 5rem;
  width: auto;
  
}

.skills {
  background-color: rgb(219, 219, 219);
  padding: 3rem;
}


/* photo gallery */


.column {
  float: left;
  padding: 3rem;
}

.left {
  width: 45%;
  /* background-color: rgb(233, 233, 233); */
  margin: auto;  
}

.center{
  width: 10%;
}

.right {
  width: 45%;
  
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* masonry gallery */


img {
  width: 100%;
  height: auto;
  display: block;
}

button{

    display: inline-block;
    border: none;
    margin: 0;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
opacity: 100%;
}

button:focus {
    outline: none !important;
  box-shadow: none !important;
}

button:active {
    transform: scale(0.99);
}


.masonry-gallery{
  column-count: 3;
  column-gap: 1rem;
}

.item { 
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
  opacity: 60%;
}

#imgCaption{
  text-align: center;
  padding-top: 2rem;
}

.footer{
  text-align:center;
  overflow: hidden;
  background-color: #333;
  z-index: 5;   
  padding: 1rem;
}

.footer p{
  color: #919191;
}