
.jumbo{
  width: 100%;
  height: auto;
  position: relative;
}

#navbar {
  text-align:center;
  overflow: hidden;
  background-color: #333;
}

#navbar a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.content {
  padding: 5em;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


body, html {
background: linear-gradient(90deg, rgba(232,232,232,1) 0%, rgba(243,243,243,1) 30%, rgba(255,255,255,1) 100%);
  line-height: 1.8;
}


.button {
  opacity: 70%;
}

.button:hover {
  opacity: 100%;
}

.social{
    float: left;
    width: 33.33%;
}

.links::after {
  content: "";
  clear: both;
  display: table;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.headshot{
  grid-column: 1;
  grid-row: 1/2;
}

.resume-text{
  padding: 2em;
}

.resume{
  margin-left: 2rem;
  grid-column: 2 / 4;
  grid-row: 1;
}

.description{
  text-align: right;
}
